<html>
  <head> </head>
  <body>
    <h1>TEMPLATE EJS</h1>
    <form action="/submit" method="POST">
      <input type="text" name="name" />
      <input type="text" name="name1" />
      <input type="submit" name="submit" value="submit" />
    </form>
  </body>
</html>
